@{
   
    
    
    
}
<h1 style="text-align:center;font-size:60px;background-color:red;color:white;font-family:Cambria">VAN LANG UNIVERSITY</h1>

<h2 style="font-size:40px"> Nguyen Vinh Tri - Curriculum Vitae </h2>

<pre style="font-size:20px">    Email: Stormyscratch1305@gmail.com
    Phone: 01697925002
    Facebook: <a href="https://www.facebook.com/StormyScratch" target="_blank">Trí Vĩnh Nguyễn</a>
</pre>

<h2 style="font-size:35px">Personal information</h2>


<table>

    <tbody>
        <tr>

            <td style="width:199px;height:315px"><img border="0" height="200" src="\Content\Profile.png" width="200"></td>

            <td style="width:291px;height:315px">

                <p>First name: Nguyen</p>

                <p>Last name: Vinh Tri</p>

                <p>Birthday: 13th May 1999</p>

                <p>Nationality: Vietnamese</p>

                <p>Gender: Male</p>
            </td>
        </tr>
    </tbody>
</table>



<ul>

    <h3 style="text-align:center;font-size:35px">Education</h3>

    <li>
        <p> VanLang university, HCM City</p>
    </li>
    <li>
        <p> Career focus on: Software Developer</p>
    </li>


    <h4 style="font-size:35px;text-align:center"> Skills</h4>

    <li>
        <p> Programming languages: Java, C#, .Net</p>
    </li>
    <li>
        <p> Languages: Vietnamese (mother tongue), English</p>
    </li>

</ul>



<h3 style="font-size:35px">Interesting</h3>

<ul>
    <li>
        <p> Videogames: Counter-strike: Global Offensive, Dota 2, The Elderscrolls V: Skyrim.</p>
    </li>
    <li>
        <p>Music: Jazz, Classical.</p>
    </li>
</ul>
<div>
    <br>
</div>

<h3 style="font-size:35px">Project</h3>
<p>Co-developer of: <a href="https://hub.warframestat.us" target="_blank">hub.warframestat.us</a></p>
